*, body {
	box-sizing:border-box;
}

body {
	background-color: #009393;
}
header {
	background-color: #FFFCC4;
	h1, h2 {
		display: inline-block;
		font-family: 'Montserrat', sans-serif;
		margin-left:20px;
	}
	h1 {
		letter-spacing: .1em;
	}
	a {
		color: #FF3800;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

#projects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	.project {
		width: 400px;
		height: 400px;
		//border: 1px solid black;
		display: inline-block;
		margin:20px;
		padding:20px;
		position: relative;
	} //.project
	#exquisitecorpse {
		@include projectHover("../img/exquisitecorpse.jpg");
	}//#exquisitecorpse
	#sop {
		@include projectHover("../img/loveletters.jpg");
	}
	#sassbp {
		@include projectHover ("../img/sakura.png");
	}
}

.info {
	position: absolute;
	bottom: 10px;
	color: white;
	padding-right: 20px;
	h3 {
		color: #D4D2A5;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.1em;
		border-bottom: 1px solid #D4D2A5;
	}
	p {
		font-family: 'Bitter', serif;
		font-size: .9em;
	}
}